.mall-page .left{
	float:left;
}
.mall-page .right{
	float:right;
}

.mall-page .total-item-count{
	padding: 10px 0;
	font-weight: bold;
}

.mall-admin-page{
    /*padding:10px;*/
    background-color:#ffffff;
}

.mall-admin-page .title{
	padding: 10px;
	margin-bottom:10px;
	background-color: #003366;
	color: #ffffff;	
	font-size: 1.5em;
	text-align: center;	
}

.mall-admin-page .content-wrapper{
	padding:0 10px 10px 10px;
}

.mall-admin-page .content-wrapper.delete-category-list .notice{	
	padding:5px 10px;
	font-size:1.3em;
	font-weight:bold;
}

.mall-admin-page .content-wrapper.delete-category-list ol{
	
}

.mall-admin-page .content-wrapper.delete-category-list ol li{
	padding:5px 10px;
	margin:0;
}

/*error*/
div.mall-error{	
	padding: 10px;
	margin:0 10px 10px 10px;
	border: 1px solid #cc0000;
	border-radius: 2px;
	background-color: #f2f2f2;
	font-size: 1.2em;
	color: #cc0000;
	text-align:center;
}

/*error*/
.error{	
	text-align:center;
	margin-bottom:10px;
}

.error .row{	
	padding:5px;
	border:1px solid red;
	color:red;
	background-color:#f2f2f2;
}
/*eo error*/
/*eo error*/

/*success*/
div.mall-success{	
	padding: 10px;
	margin:0 10px 10px 10px;
	border: 1px solid #009900;
	border-radius: 2px;
	background-color: #f2f2f2;
	font-size: 1.2em;
	color: #009900;
	text-align:center;
}
/*eo success*/

/*top-menu*/
.top-menu{
	padding:0 10px;
	margin-bottom:10px;
	text-align:right;
}

.top-menu > a{
	display: inline-block;
	padding: 10px;
	border: 1px solid #003366;
	border-radius:2px;	
	background-color: #f2f2f2;
	color: #003366;
}

.top-menu > a:hover{
	background-color: #004466;
	color: #ffffff;	
}


.mall-page .top-menu > a{
	border: 1px solid #1886c5;
	color: #1886c5;
}

.mall-page .top-menu > a:hover{
	background-color: #1886c5;
	color: #ffffff;	
}
/*eo top-menu*/

/*form*/
.mall-admin-page form{
    display:inline-block;
}

.mall-admin-page form .row{
    display:inline-block;
}

.mall-admin-page input[type='text']{
    padding:4px 5px;
    border:1px solid #003366;
    box-sizing:border-box;
}

.mall-admin-page input[type='submit'], .command{
	display: inline-block;
	padding:5px 10px;
	/*border: 1px solid #003366;*/
	border-radius:2px;
	background-color: #003366;	
	/*color: #003366;*/
	color:#ffffff;
	box-sizing:border-box;
	cursor:pointer;
}

.mall-admin-page input[type='submit']{
	border:0;
}

.mall-admin-page input[type='submit']:hover, .mall-admin-page .command:hover{
	color:yellow;
}


.mall-admin-page .form-update{
	margin-right:3px;
}

.mall-admin-page .form-update input[type='text']{
    margin-right:5px;
    width:150px;
}

/*eo form*/
.mall-table{
	margin-top:10px;	
}

.mall-table tr.header{
	font-size:12px;
	font-weight:bold;
	background-color:#d5d5d5;
}

.mall-table tr.header td{
	padding:5px 10px;
	color:#444444;
}

.mall-table tr:nth-child( 2n + 3 ){
	background-color:#f2f2f2;
}


/*category unique*/
.mall-table.category tr td:nth-child(2), .mall-table tr td:nth-child(3), .mall-table tr td:nth-child(4){
	text-align:center;	
}

.mall-admin-page .category{	
    padding:10px;
	margin-bottom:0;
	box-sizing:border-box;
	white-space:nowrap;
}

.mall-admin-page .category .button-wrapper{
	display:inline;
}
/*eo category unique*/
.mall-table.member, .mall-table.item{
	text-align:center;
}

.mall-table td > span{
	display:block;
	padding:10px;
}
/*member-list unique*/

/*eo member-list unique*/

.mall-page{	
	background-color:#ffffff;
}

.mall-page > .title{
	padding: 10px;
	margin-bottom: 10px;
	background-color: #1886c5;
	color: #ffffff;
	font-size: 1.5em;
	text-align: center;
}

.mall-page .content{	
	padding:0 10px 10px 10px;
}

.mall-page .content.front-page .menu-list{	
	margin-bottom:10px;
}

.mall-page .content.front-page .menu-list .menu > a{	
	display:inline-block;
	padding:5px 10px;
}

.mall-page .form-label{	
	margin-bottom: 3px;
	font-size: 1.2em;
	font-weight: bold;
	color: #4b4b4b;
}

.mall-page .form-description{	
	margin: 0 0 2px 3px;
	color: #818181;
}

/*
.category .command{
	display: inline-block;
	padding:2px 5px;
	border: 1px solid #003366;
	border-radius:2px;
	background-color: #f2f2f2;
	color: #003366;
    box-sizing:border-box;
    cursor:pointer;
}

.category .command:hover{
	background-color: #004466;
    color: #ffffff;	
}
*/

.category .command.cancel{
	margin:0 15px 0 3px;
	/*font-weight:bold;*/
}
/*eo form*/

/*category-name*/
.mall-admin-page .label{
	font-weight:normal
}

.mall-admin-page .label .category-name{	
    margin:5px 5px 3px 0;
	font-weight:bold;
	/*font-size:1.3em;*/
}

.mall-admin-page .label .name.user-profile{
	font-weight:bold;
	color:blue;
}
/*eo category-name*/

/*category-list*/
.category-list{
	
}

.category-list .root-form-wrapper{
    margin-bottom:20px;
}

.category-list .category .label input[type='submit']{
    font-weight:normal;
}

.category-list .category .label .command{
    font-weight:normal;
}




/*mall-search*/
.mall-search input[type='text']{
	width:200px
}

.mall-search-keyword, .mall-search-total{
	padding:10px 10px 0 10px;
	font-size:1.2em;
}
/*eo mall-search*/

/*mall add form*/
.mall-page .mall-item-add{
	padding:10px;
	background-color:#ffffff;	
}

.mall-page .mall-item-add .price-wrapper{
	position:relative;
}

.mall-page .mall-item-add input[type='text'], .mall-page .mall-item-add input[type='number'], .mall-page .mall-item-add select, .mall-page .mall-item-add textarea{	
	width:100%;		
	border:1px solid #6e96d9;
	margin-bottom:5px;
	box-sizing:border-box;
}

.mall-page .mall-item-add select.category, .mall-page .mall-item-add select.location{
	float:left;
	width:24%;
	margin:0 1% 5px 0;
}

.mall-page .mall-item-add input[type='text'], .mall-page .mall-item-add input[type='number']{
	padding:5px 10px;
}

.mall-page .mall-item-add .price-wrapper .currency{
	position:absolute;
	left:12px;
	top:6px;
}

.mall-page .mall-item-add .price-wrapper input[type='number']{
	padding-left:22px;
}

.mall-page .mall-item-add textarea{
	height:125px;
	padding:5px 10px;
	resize:none;
	box-sizing:border-box;
}

.mall-page .mall-item-add select{
	padding:5px;	
}

.mall-page .mall-item-add .buttons{
	text-align:right;
}

.mall-page .mall-item-add .buttons .item-add-submit{
	display:block;
	width:100%;
	padding: 5px 10px;
	margin:0;
	background-color: #f2f2f2;
	border: 1px solid #1886c5;	
	border-radius: 2px;
	font-size:1.3em;
	color: #1886c5;
	text-align:center;
	box-sizing:border-box;
}

.mall-page .mall-item-add .buttons .item-add-submit:hover{	
	background-color: #1886c5;
	color: #ffffff;
	cursor:pointer;
}

.mall-page .mall-item-add .title{
	margin-bottom:13px;
}

.mall-page .mall-item-add .file-upload-group{
	margin-bottom:10px;
}

.mall-page .mall-item-add .file-upload-group .upload-label{	
	margin:5px 0;
	font-size:1.2em;
	font-weight:bold;
}

.mall-page .mall-item-add .file-upload-group .upload{
	float: left;
	width: 24%;
	padding: 10px;
	margin:0 .5% 5px .5%;
	border-radius:3px;
	background-color: #f0f8fd;	
	box-sizing: border-box;
	overflow: hidden;
}

.mall-page .mall-item-add .description{
	margin:10px 0 5px 0;
}

.mall-page .mall-item-add .description:first-child{
	margin-top:5px;
}

.mall-page .mall-item-add .note{
	font-size:.8em;	
	margin-left:5px;
}

.mall-page .mall-item-add .addForm-file-upload fieldset{
	padding:0;
	border:0;
	margin:0;
}

.mall-page .mall-item-add .addForm-file-upload{
	position:relative;
	/*height: 201px;*/
	width: 100%;	
	border: 1px dashed #b6cff8;
	background: url('/modules/mall/img/photo.png');
	background-repeat: no-repeat;
	background-position: 50% 45%;
	overflow: hidden;
	box-sizing: border-box;
}

.mall-page .mall-item-add .addForm-file-upload.is-hidden{
	display:none;
}

.mall-page .mall-item-add .addForm-file-upload input[type='file']{
	position:absolute;
	left:0;
	top:0;
	height: 201px;
	width: 100%;
	opacity: 0;
	cursor: pointer;
	box-sizing: border-box;
}

.mall-page .mall-item-add .upload .display-uploaded-files .photo{	
	float:left;
	position: relative;
	width:100%;	
	margin:0;
	border: 1px solid #d5d5d5;
	box-sizing: border-box;
}

.mall-page .mall-item-add .upload .display-uploaded-files .photo img{	
	display: block;
	width: 97%;
	margin: 2px auto;
}

.mall-page .mall-item-add .upload .display-uploaded-files .photo .delete{	
	position: absolute;
	right: 5px;
	top: 5px;
	padding: 2px 6px;
	border-radius: 3px;
	background-color: black;
	color: white;
	cursor: pointer;
}

.mall-page .mall-item-add .upload .display-uploaded-files .photo .delete:hover{	
	background-color:red;
}
/*eo mall add form*/

/*mall-advance-search*/
.mall-advance-search{
	margin-bottom:10px;
	color:#444444;
}

/*
.mall-advance-search .filter{
	position:relative;
	padding:5px 20px 5px 5px;
	border:1px solid #dddddd;
}

.mall-advance-search .filter > img{
	position:absolute;
	right:5px;
	top:10px;
}
*/
.mall-advance-search .mall-select-wrapper{
	display:inline-block;
	position:relative;
}

.mall-advance-search .mall-select-wrapper > img{
	position:absolute;
	right:5px;
	top:11px;
	height:6px;
	width:10px;
}

.mall-advance-search .label{	
	font-weight:normal;		
}

.mall-advance-search select{
	height:28px;
	padding:5px 3px;
	border:1px solid #dddddd;
	border-radius:2px;
	box-sizing:border-box;
}

.mall-advance-search .search-sort-commands .left{
	margin-right:10px;
}


/*filter-guide*/
.filter-guide > div{
	position:relative;
	display:inline-block;
	padding: 3px 45px 3px 10px;
	margin:0 3px 10px 0;
	border-radius:2px;
	background-color:#7cc1f1;
	font-weight:bold;
	color:#ffffff;
}

.filter-guide > div.user_id{	
	background-color:#003366;
}

.filter-guide > div.category{	
	background-color:#9d9d9d;
}

.filter-guide > div > a.remove{	
	position: absolute;
	right: 5px;
	top: 2px;
	font-size: 1.1em;
	font-weight: bold;
	color: #ffffff;
}
/*eo filter-guide*/
/*mall-filter-form*/
form.mall-filter-form{
	margin-left:5px;
}

form.mall-filter-form input[type='number']{
	height: 26px;
	width:55px;
	padding:5px;
	border:1px solid #dddddd;
	box-sizing:border-box;
}

form.mall-filter-form input[type='submit']{
	height: 26px;
	width:30px;	
	padding:5px;
	border:1px solid #dddddd;	
	box-sizing:border-box;
}
/*eo mall-filter-form*/

/*filter*/
.filter-button{	
	display:inline-block;
	position:relative;
	height:28px;
	padding: 6px 23px 6px 10px;
	border: 1px solid #dddddd;
	border-radius: 2px;
	background-color:#f2f2f2;
	box-sizing:border-box;
	cursor:pointer;
}

.filter-button > img{	
	position:absolute;
	right:5px;
	top:11px;
	background-color:#f2f2f2;
}

.filter.list{	
	padding:10px 20px 0 20px;
	margin-bottom:10px;
	border:1px solid #c0c0c0;
}

.filter.list .wrapper{
	/*float:left;
	width:25%;*/
	padding:5px 10px;
	box-sizing:border-box;
}

.filter.list .wrapper .filter-items{
	margin:10px 0;
	border-right:1px dotted #7e8c8c;
}

.filter.list .wrapper tr td:last-child .filter-items{
	border:0;
}

.filter.list .extra{
	display:none;
}

.filter.list .label{
	display:block;
	padding:0 10px 5px 10px;	
	border-bottom: 2px solid #0c6fb3;
	font-size:1.2em;	
	color:#0c6fb3;	
}

.filter.list a, .filter.list span{
	display:inline-block;
	padding:2px 5px;
	color:#2965be;
	cursor:pointer;
}

.filter.list a:hover, .filter.list span:hover{
	color:#003366;
}

.filter.list span.more{
	padding:2px 0;
}

.filter.list .close-filter{
	width:100px;
	padding:3px 0;
	margin:auto;
	border:1px solid #cbcccc;
	border-bottom:0;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	background-color:#eaeaea;
	cursor:pointer;
	text-align:center;
	box-sizing:border-box;
}
/*eo filter*/

/*eo mall-advance-search*/



/*mall-item-list*/
.mall-item-list{
  max-width: 960px;
  margin: auto;
}

.mall-item-list > .title{
	padding: 5px 0;
	font-size: 1.5em;
	color: #003366;	
}

.mall-item-list .search-total{
	margin:0 0 10px 10px;
}

.mall-item-list .item{
	float: left;
	position: relative;
	width: 100%;
	margin-bottom:10px;
	background-color: #ffffff;
	box-sizing:border-box;
}

.mall-item-list .item .photo{
	border:1px solid #b0b0b0;
	border-bottom:0;
}

.mall-item-list .item .info{
	border:1px solid #b0b0b0;
	border-top:0;
}

.mall-item-list .item .photo{
	max-height: 253px;
	overflow: hidden;
}

.mall-item-list .item .photo img{
	width:100%;
}

.mall-item-list .item .info{
	padding: 5px 10px;
	font-weight: bold;
}

.mall-item-list .item .info .title{
	height: 33px;
	font-size: 1.2em;
	color: #393939;
	line-height: 120%;
	overflow: hidden;
}

.mall-item-list .item .info .price{
	position: relative;
	font-size: 1.4em;
	color: #e32222;
}

/**/
.item .info .price .label{
	position:absolute;
	right:0;
	bottom:0;
	display:inline-block;
	padding:5px;
	border-radius:3px;
	font-size:.8em;
	font-weight:normal;
	color:#ffffff;
	line-height:100%;
}

.item .info .price .label.popular{
	  background-color: #199f38;
}

.item .info .price .label.must-have{
	  background-color: #c50099;
}

.item .info .price .label.hot{
	  background-color: #d00000;
}
/*eo mall-item-list*/


/*mall-view*/
.mall-view{	
		
}

.mall-view .title.top{			
	padding: 5px 10px;
	margin-bottom: 5px;
	border-radius: 2px;
	font-size: 1.5em;		
	color: #606060;
	background-color: #d8d8d8;
	text-align: center;
}

.mall-view .image-list{		
	position:relative;
	padding:10px;
	margin-bottom:10px;
	border-radius:2px;	
	background-color:#ffffff;
}	

.mall-view .top-image{		
	padding:0 5px;
	margin-bottom: 5px;
	height:370px;
	width:100%;
	border:1px solid #dcdcdc;		
	overflow:hidden;
	box-sizing:border-box;
}

.mall-view .top-image img{	
	display:none;
	margin:auto;		
}

.mall-view .top-image img.is-active{	
	display:block;
}

.mall-view .thumbnails{
	position:relative;
}

.mall-view .thumbnails .arrow{
	position: absolute;
	bottom: 0;
	height: 100%;
	width: 5%;
	box-sizing: border-box;		
	border: 1px solid #dcdcdc;
	cursor:pointer;
}

.mall-view .thumbnails .arrow.left{
	left:12%;
}

.mall-view .thumbnails .arrow.right{
	right:12%;
}

.mall-view .thumbnails .inner{
	width:65%;
	margin:auto;		
	white-space:nowrap;
	overflow: hidden;
}

.mall-view .thumbnails .inner img{		
	display:inline-block;
	position:relative;
	width:19%;
	padding: 5px;
	margin:0 .5% -3px .5%;
	border: 1px solid #dcdcdc;		
	box-sizing: border-box;
	cursor:pointer;
}

.mall-view .thumbnails .inner img.is-active{
	border-color:#64b0ff;
}


.mall-view .product-details{		
	border-radius:2px;
	background-color:#ffffff;
}

.mall-view .product-details .title{
	padding:5px 10px;
	margin-bottom: 10px;
	border-bottom:1px solid #dcdcdc;
	font-size:1.1em;
	font-weight:bold;
}

.mall-view .product-details .table-wrapper{
	padding:0 10px;
	margin-bottom:10px;
}

.mall-view .product-details .table-wrapper tr:nth-child(even){
	background-color:#f2f2f2;
}

.mall-view .product-details .table-wrapper td{
	padding:5px
}

.mall-view .product-details .table-wrapper .table-label{	
	font-size:1.1em;
	font-weight:bold;
}

.mall-view .product-details .content-text{
	padding:0 10px 10px 10px;
}
/*eo mall-view*/

/*mall-advance-search*/
.mall-advance-search{
	margin-bottom:10px;
	color:#444444;
}

.mall-advance-search .filter{
	position:relative;
	padding:5px 20px 5px 5px;
	border:1px solid #dddddd;
}

.mall-advance-search .filter > img{
	position:absolute;
	right:5px;
	top:10px;
}

.mall-advance-search .mall-select-wrapper{
	display:inline-block;
	position:relative;
}

.mall-advance-search .mall-select-wrapper > img{
	position:absolute;
	right:5px;
	top:11px;
	height:6px;
	width:10px;
	background-color:#ffffff;
}

.mall-advance-search .label{	
	font-weight:normal;		
}

.mall-advance-search select{
	padding:5px 3px;
	border:1px solid #dddddd;
	border-radius:2px;
}

.mall-advance-search .search-sort-commands .left{
	margin-right:10px;
}
/*eo mall-advance-search*/

/*mall-pagination*/
.mall-pagination{
	padding:5px 10px;
	text-align:center;
}

.mall-pagination a{
	display:inline-block;
	padding:3px 5px;
	margin:0 10px 5px 0;
	border: 1px solid #999999;
	border-radius: 2px;
	font-size:1.2em;
	line-height:100%;	
}

.mall-pagination a:hover, .mall-pagination a.selected{
	background-color: #b0b0b0;
	color: #ffffff;
}

.mall-pagination a:last-child{
	margin-right:0;
}
/*eo mall-pagination*/

/*override*/

/*eo override*/



@media all and ( min-width: 400px ) { 
	.mall-item-list .item{
		width:50%;
	}
	
	.mall-item-list a:nth-child( 2n + 2) .item .photo, .mall-item-list a:nth-child( 2n + 2) .item .info{
		margin-left:5px;
	}

	.mall-item-list a:nth-child( 2n + 1) .item .photo, .mall-item-list a:nth-child( 2n + 1) .item .info{
		margin-right:5px;
	}
}

@media all and ( min-width: 640px ) {
	.mall-item-list .item{
		width:33.33%;
	}

	.mall-item-list a:nth-child( 3n + 3) .item .photo, .mall-item-list a:nth-child( 3n + 3) .item .info{
		margin:0 0 0 6.66px;
	}
	
	.mall-item-list a:nth-child( 3n + 2) .item .photo, .mall-item-list a:nth-child( 3n + 2) .item .info{
		margin:0 3.33px 0 3.33px;
	}

	.mall-item-list a:nth-child( 3n + 1) .item .photo, .mall-item-list a:nth-child( 3n + 1) .item .info{
		margin:0 6.66px 0 0;
	}
}

@media all and ( min-width: 800px ) {
	.mall-item-list .item .photo{
		height: 253px;
		overflow: hidden;
	}

	.mall-item-list .item .photo img{
		height:100%;
		width:initial;
	}
	
	.mall-item-list .item{
		width:33.33%;
	}
	
	.mall-item-list .item{
		width:25%;
	}
	
	.mall-item-list a:nth-child( 4n + 4) .item .photo, .mall-item-list a:nth-child( 4n + 4) .item .info{
		margin:0 0 0 7.5px;
	}

	.mall-item-list a:nth-child( 4n + 3) .item .photo, .mall-item-list a:nth-child( 4n + 3) .item .info{
		margin:0 2.5px 0 5px;
	}

	.mall-item-list a:nth-child( 4n + 2) .item .photo, .mall-item-list a:nth-child( 4n + 2) .item .info{
		margin:0 5px 0 2.5px;
	}

	.mall-item-list a:nth-child( 4n + 1) .item .photo, .mall-item-list a:nth-child( 4n + 1) .item .info{
		margin:0 7.5px 0 0;
	}
}