*:focus {
    outline: 0;
}

.mall-page .left{
	float:left;
	margin:0 5px 10px 0;
}
.mall-page .right{
	float:right;
}

.mall-page .right > a{
	display:inline-block;
	height:28px;
	padding: 6px 7px;
	border-radius:2px;
	background-color:#2ecc71;
	font-size:1.1em;
	color:#fff;
	font-weight:bold;
	box-sizing:border-box;
}

.mall-page .total-item-count{
	padding: 10px 0;
	font-weight: bold;
}

.mall-admin-page{
    /*padding:10px;*/
    background-color:#ffffff;
}

.mall-admin-page .title{
	padding: 10px;
	margin-bottom:10px;
	background-color: #003366;
	color: #ffffff;	
	font-size: 1.5em;
	text-align: center;	
}

.mall-admin-page .content-wrapper{
	padding:0 10px 10px 10px;
}

.mall-admin-page .content-wrapper.delete-category-list .notice{	
	padding:5px 10px;
	font-size:1.3em;
	font-weight:bold;
}

.mall-admin-page .content-wrapper.delete-category-list ol{
	
}

.mall-admin-page .content-wrapper.delete-category-list ol li{
	padding:5px 10px;
	margin:0;
}

/*error*/
.mall-error{	
	text-align:center;
	margin-bottom:10px;
}

.mall-error .row{	
	padding:5px;
	border:1px solid red;
	color:red;
	background-color:#f2f2f2;
}

.mall-error .row .code{	
	font-size:1.2em;
	margin-bottom:5px;
}
/*eo error*/
/*eo error*/

/*success*/
div.notice{	
	padding: 10px;
	margin:0 10px 10px 10px;
	border: 1px solid #009900;
	border-radius: 2px;
	background-color: #f2f2f2;
	font-size: 1.2em;
	color: #009900;
	text-align:center;
}
/*eo success*/

/*top-menu*/
.top-menu{
	padding:0 10px;
	margin-bottom:10px;
	text-align:right;
}

.top-menu > a{
	display: inline-block;
	padding: 9px 10px 11px 10px;
	border: 1px solid #003366;
	border-radius:2px;	
	background-color: #f2f2f2;
	color: #003366;
}

.top-menu > a:hover{
	background-color: #004466;
	color: #ffffff;	
}


.mall-page .top-menu > a{
	border: 1px solid #1886c5;
	color: #1886c5;
}

.mall-page .top-menu > a:hover{
	background-color: #1886c5;
	color: #ffffff;	
}
/*eo top-menu*/

/*form*/
.mall-admin-page form{
    display:inline-block;
}

.mall-admin-page form .row{
    display:inline-block;
}

.mall-admin-page input[type='text']{
    padding:4px 5px;
    border:1px solid #003366;
    box-sizing:border-box;
}

.mall-admin-page input[type='submit'], .command{
	display: inline-block;
	padding:4px 10px 6px 10px;
	/*border: 1px solid #003366;*/
	border-radius:2px;
	background-color: #003366;	
	/*color: #003366;*/
	color:#ffffff;
	box-sizing:border-box;
	cursor:pointer;
}

.mall-admin-page input[type='submit']{
	border:0;
}

.mall-admin-page input[type='submit']:hover, .mall-admin-page .command:hover{
	color:yellow;
}


.mall-admin-page .form-update{
	margin-right:3px;
}

.mall-admin-page .form-update input[type='text']{
    margin-right:5px;
    width:150px;
}

/*eo form*/
.mall-table{
	margin-top:10px;	
}

.mall-table tr.header{
	font-size:12px;
	font-weight:bold;
	background-color:#d5d5d5;
}

.mall-table tr.header td{
	padding:5px 10px;
	color:#444444;
}

.mall-table tr:nth-child( 2n + 3 ){
	background-color:#f2f2f2;
}


/*category unique*/
.mall-table.category tr td:nth-child(2), .mall-table tr td:nth-child(3), .mall-table tr td:nth-child(4){
	text-align:center;	
}

.mall-admin-page .category{	
    padding:10px;
	margin-bottom:0;
	box-sizing:border-box;
	white-space:nowrap;
}

.mall-admin-page .category .button-wrapper{
	display:inline;
}
/*eo category unique*/
.mall-table.member, .mall-table.item{
	text-align:center;
}

.mall-table td > span{
	display:block;
	padding:10px;
}
/*member-list unique*/

/*eo member-list unique*/

.mall-page{	
	background-color:#ffffff;
}

.mall-page > .title{
	padding: 10px;
	margin-bottom: 10px;
	background-color: #1886c5;
	color: #ffffff;
	font-size: 1.5em;
	text-align: center;
}

.mall-page .content{	
	padding:0 10px 10px 10px;
}

.mall-page .content.front-page .menu-list{	
	margin-bottom:10px;
}

.mall-page .content.front-page .menu-list .menu > a{	
	display:inline-block;
	padding:5px 10px;
}

.mall-page .form-label{	
	margin-bottom: 3px;
	font-size: 1.2em;
	font-weight: bold;
	color: #4b4b4b;
}

.mall-page .form-description{	
	margin: 0 0 2px 3px;
	color: #818181;
}

/*
.category .command{
	display: inline-block;
	padding:2px 5px;
	border: 1px solid #003366;
	border-radius:2px;
	background-color: #f2f2f2;
	color: #003366;
    box-sizing:border-box;
    cursor:pointer;
}

.category .command:hover{
	background-color: #004466;
    color: #ffffff;	
}
*/

.category .command.cancel{
	margin:0 15px 0 3px;
	/*font-weight:bold;*/
}
/*eo form*/

/*category-name*/
.mall-admin-page .label{
	font-weight:normal
}

.mall-admin-page .label .category-name{	
    margin:5px 5px 3px 0;
	font-weight:bold;
	/*font-size:1.3em;*/
}

.mall-admin-page .label .name.user-profile{
	font-weight:bold;
	color:blue;
}
/*eo category-name*/

/*category-list*/
.category-list{
	
}

.category-list .root-form-wrapper{
    margin-bottom:20px;
}

.category-list .category .label input[type='submit']{
    font-weight:normal;
}

.category-list .category .label .command{
    font-weight:normal;
}




/*mall-search*/
.mall-search input[type='text']{
	width:200px
}

.mall-search-keyword, .mall-search-total{
	padding:10px 10px 0 10px;
	font-size:1.2em;
}
/*eo mall-search*/

/*mall add form*/
.mall-page .mall-item-add{
	padding:10px;
	background-color:#ffffff;	
}

.mall-page .mall-item-add .price-wrapper{
	position:relative;
}

.mall-page .mall-item-add .price-wrapper > select{
	float:left;	
	width:50px;	  	
}

.mall-page .mall-item-add .price-wrapper > .text{
	padding:0 0 0 5px;
	overflow:hidden;
}

.mall-page .mall-item-add input[type='text'], .mall-page .mall-item-add input[type='number'], .mall-page .mall-item-add select, .mall-page .mall-item-add textarea{	
	height:30px;
	width:100%;		
	border:1px solid #6e96d9;
	margin-bottom:5px;
	box-sizing:border-box;
}

.mall-page .mall-item-add select.category, .mall-page .mall-item-add select.location{
	float:left;
	width:24%;
	margin:0 1% 5px 0;
}

.mall-page .mall-item-add input[type='text'], .mall-page .mall-item-add input[type='number']{
	padding:5px 10px;
}

.mall-page .mall-item-add .price-wrapper .currency{
	position:absolute;
	left:12px;
	top:6px;
}

.mall-page .mall-item-add .price-wrapper input.error, .mall-page .mall-item-add .price-wrapper select.error, .mall-page .mall-item-add .price-wrapper textarea.error{
	border-color:red;
}

.mall-page .mall-item-add .price-wrapper input[type='number']{
	
}

.mall-page .mall-item-add textarea{
	height:125px;
	padding:5px 10px;
	resize:none;
	box-sizing:border-box;
}

.mall-page .mall-item-add select{
	padding:3px 5px 5px 5px;
}

.mall-page .mall-item-add .buttons{
	text-align:right;
}

.mall-page .mall-item-add .buttons .item-add-submit{
	display:block;
	width:100%;
	padding: 4px 10px 6px 10px;
	margin:0;
	background-color: #f2f2f2;
	border: 1px solid #1886c5;	
	border-radius: 2px;
	font-size:1.3em;
	color: #1886c5;
	text-align:center;
	box-sizing:border-box;
}

.mall-page .mall-item-add .buttons .item-add-submit:hover{	
	background-color: #1886c5;
	color: #ffffff;
	cursor:pointer;
}

.mall-page .mall-item-add .title{
	margin-bottom:13px;
}

.mall-page .mall-item-add .file-upload-group{
	margin-bottom:10px;
}

.mall-page .mall-item-add .file-upload-group .upload-label{	
	margin:5px 0;
	font-size:1.2em;
	font-weight:bold;
}

.mall-page .mall-item-add .file-upload-group .upload{
	position:relative;
	float: left;
	width: 24%;
	padding: 10px;
	margin:0 .5% 5px .5%;
	border-radius:3px;
	background-color: #f0f8fd;	
	box-sizing: border-box;
	overflow: hidden;
}

.mall-page .mall-item-add .description{
	margin:10px 0 5px 0;
}

.mall-page .mall-item-add .description:first-child{
	margin-top:5px;
}

.mall-page .mall-item-add .note{
	font-size:.8em;	
	margin:0 0 5px 5px;
}

.mall-page .mall-item-add .note.error{
	color:red;
}

.mall-page .mall-item-add .addForm-file-upload fieldset{
	padding:0;
	border:0;
	margin:0;
}

.mall-page .mall-item-add .addForm-file-upload{
	position:relative;
	/*height: 201px;*/
	width: 100%;	
	border: 1px dashed #b6cff8;
	background: url('/modules/mall/img/photo.png');
	background-repeat: no-repeat;
	background-position: 50% 45%;
	overflow: hidden;
	box-sizing: border-box;
}

.mall-page .mall-item-add .addForm-file-upload.is-hidden{
	display:none;
}
/*
.mall-page .mall-item-add .item_image_thumbnail .addForm-file-upload.is-hidden{
	display:block;
}
*/
.mall-page .mall-item-add .addForm-file-upload input[type='file']{
	position:absolute;
	left:0;
	top:0;
	height: 201px;
	width: 100%;
	opacity: 0;
	cursor: pointer;
	box-sizing: border-box;
}

.mall-page .mall-item-add .upload .display-uploaded-files .photo{	
	float:left;
	position: relative;
	width:100%;	
	margin:0;
	border: 1px solid #d5d5d5;
	box-sizing: border-box;
}

.mall-page .mall-item-add .upload .display-uploaded-files .photo img{	
	display: block;
	width: 97%;
	margin: 2px auto;
}

.mall-page .mall-item-add .upload .display-uploaded-files .photo .delete{	
	position: absolute;
	right: 5px;
	top: 5px;
	padding: 2px 6px 4px 6px;
	border-radius: 3px;
	background-color: black;
	color: white;
	cursor: pointer;
}

.mall-page .mall-item-add .upload .display-uploaded-files .photo .delete:hover{	
	background-color:red;
}
/*eo mall add form*/

/*mall-advance-search*/
.mall-advance-search{
	float:right;
	width:120px;
	margin-bottom:10px;
	color:#444444;
	padding:0 0 0 5px;
}

/*
.mall-advance-search .filter{
	position:relative;
	padding:5px 20px 5px 5px;
	border:1px solid #dddddd;
}

.mall-advance-search .filter > img{
	position:absolute;
	right:5px;
	top:10px;
}
*/
.mall-advance-search .label{
	display:inline-block;
	margin-bottom:5px;
}

.mall-advance-search .mall-select-wrapper{
	display:inline-block;
	position:relative;
}

.mall-advance-search .mall-select-wrapper > img{
	position:absolute;
	right:5px;
	top:11px;
	height:6px;
	width:10px;
}

.mall-advance-search .label{	
	font-weight:normal;		
}

.mall-advance-search select{
	height:28px;
	max-width:120px;
	padding:3px 3px 5px 3px;
	border:1px solid #dddddd;
	border-radius:2px;
	box-sizing:border-box;
}


/*filter-guide*/
.filter-guide > div{
	position:relative;
	display:inline-block;
	height:28px;
	padding: 7px 20px 6px 10px;
	margin:0 3px 10px 0;
	border-radius:2px;
	background-color:#7cc1f1;
	font-weight:bold;
	color:#ffffff;
	box-sizing:border-box;
}

.filter-guide > div.user_id{	
	background-color:#003366;
}

.filter-guide > div.category{	
	background-color:#9d9d9d;
}

.filter-guide > div > a.remove{	
	position: absolute;
	right: 5px;
	top: 6px;
	font-size: 1.1em;
	font-weight: bold;
	color: #ffffff;
}
/*eo filter-guide*/
/*mall-filter-form*/
form.mall-filter-form{
	margin-left:5px;
}

form.mall-filter-form input[type='number']{
	height: 26px;
	width:42px;
	/*padding:5px;*/
	border:1px solid #dddddd;
	box-sizing:border-box;
}

form.mall-filter-form input[type='submit']{
	height: 26px;
	width:28px;	
	padding:4px 3px 6px 3px;
	margin-left:5px;
	border:1px solid #dddddd;	
	box-sizing:border-box;
}
/*price range*/
form.mall-filter-form.price .input-text-wrapper{
	float:left;
	/*margin:0 0 5px 5px;*/
}

form.mall-filter-form.price input[type='submit']{
	float:left;
}
/*eo price range*/
/*eo mall-filter-form*/

/*filter*/
.filter-button{	
	display:inline-block;
	position:relative;
	height:28px;
	padding: 6px 23px 6px 10px;
	border: 1px solid #dddddd;
	border-radius: 2px;
	background-color:#f2f2f2;
	box-sizing:border-box;
	cursor:pointer;
}

.filter-button > img{	
	position:absolute;
	right:5px;
	top:11px;
	background-color:#f2f2f2;
}

.filter.list{		
	display:none;
	position:relative;
	padding:10px 10px 23px 10px;
	margin-bottom:10px;
	border:1px solid #c0c0c0;
}

.filter.list.is-active{		
	display:block;	
}

.filter.list.grid4 .content > div{	
	padding:5px 0;
	box-sizing:border-box;
}

.filter.list.grid4 .content  > div .filter-items{
	padding-right:10px;
	margin:10px 0 0 10px;
	/*border-right:1px dotted #7e8c8c;*/
}

.filter.list.grid4 .content  > div.d .filter-items{
	margin-bottom:5px;
	border-right:0;
}

.filter.list .extra{
	display:none;
}

.filter.list .label{
	display:block;
	height:22px;
	padding:0 10px 5px 10px;	
	margin:0 10px;
	border-bottom: 2px solid #0c6fb3;
	font-size:1.2em;	
	color:#0c6fb3;
	overflow:hidden;
	box-sizing:border-box;
}

.filter.list a, .filter.list span{
	display:inline-block;
	padding:2px 5px;
	color:#1e1e1e;
	cursor:pointer;
}

.filter.list a:hover, .filter.list span:hover{
	color:#2965be;
	text-decoration:underline;
}

.filter.list span.more{
	padding:2px 0;
}

.filter.list .close-filter{
	position:absolute;
	left:44%;
	bottom:0;
	width:9%;
	padding:3px 0;
	margin:auto;
	border:1px solid #cbcccc;
	border-bottom:0;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	background-color:#eaeaea;
	cursor:pointer;
	text-align:center;
	box-sizing:border-box;
}
/*eo filter*/

/*eo mall-advance-search*/



/**/
.item .info .price .label{
	position:absolute;
	right:0;
	bottom:0;
	display:inline-block;
	padding:5px;
	border-radius:3px;
	font-size:.8em;
	font-weight:normal;
	color:#ffffff;
	line-height:100%;
}

.item .info .price .label.popular{
	  background-color: #199f38;
}

.item .info .price .label.must-have{
	  background-color: #c50099;
}

.item .info .price .label.hot{
	  background-color: #d00000;
}


/*mall-view*/
.mall-view{	
	border-bottom:2px solid #c7c7c7;
	margin-bottom:10px;
}

.mall-view .user-commands{	
	float:right;
	padding:5px 0;
}

.mall-view .user-commands > a{	
	display:inline-block;
	padding:4px 10px 6px 10px;
	margin-right:10px;
	border:1px solid #aaaaaa;
}

.mall-view .user-commands > a:hover{	
	background-color:#003366;
	color:#ffffff;
}

.mall-view .title.top{			
	padding: 5px 10px;
	margin-bottom: 5px;
	border-radius: 2px;
	font-size: 1.5em;		
	color: #393939;
}

.mall-view .image-list{	
	width:100%;
	position:relative;		
	margin:0 0 10px 0;
	border-radius:2px;	
	background-color:#ffffff;
	overflow:hidden;
}	

.mall-view .top-image{		
	/*width:100%;*/
	padding:10px 5px;
	margin:0 0 5px 0;	
	border:1px solid #dcdcdc;		
	overflow:hidden;
	box-sizing:border-box;
}

.mall-view .top-image img{	
	display:none;
	margin:auto;		
}

.mall-view .top-image img.is-active{	
	display:block;
	max-width:100%;
}

.mall-view .thumbnails{
	position:relative;
	margin:0 10px 20px 10px;
}

.mall-view .thumbnails .arrow{
	position: absolute;
	bottom: 0;
	height: 100%;
	width: 5%;
	box-sizing: border-box;		
	border: 1px solid #dcdcdc;
	cursor:pointer;
}

.mall-view .thumbnails .arrow.left{
	left:.8%;
}

.mall-view .thumbnails .arrow.right{
	right:.8%;
}

.mall-view .thumbnails .inner{
	width:88%;
	margin:auto;		
	white-space:nowrap;
	overflow: hidden;
}

.mall-view .thumbnails .inner img{		
	display:inline-block;
	position:relative;
	width:19%;
	padding: 5px;
	margin:0 .5% 0 .5%;
	border: 1px solid #dcdcdc;		
	box-sizing: border-box;
	cursor:pointer;
}

.mall-view .thumbnails .inner img.is-active{
	border-color:#64b0ff;
}

.mall-view .content-text{
	float:left;
	width:100%;
	padding: 0 20px 5px 20px;
	font-size: 1.2em;
	line-height: 160%;
	box-sizing:border-box;
}

.mall-view .content-text .photos{
	margin-top:10px;
	text-align:center;
}

.mall-view .content-text .photos .photo{
	margin-bottom:10px;
}

.mall-view .content-text .photos .photo img{
	max-width:100%;
}

.mall-view .details-wrapper{
	width:100%;
	margin-bottom:10px;
}

.mall-view .details{		
	margin-bottom:10px;
	border:1px solid #dbdbdb;
	border-radius:2px;
	background-color:#ffffff;
	box-sizing:border-box;
}

.mall-view .details .title{
	padding:5px 10px;	
	background-color:#aaaaaa;	
	font-weight:bold;	
	color:#ffffff;
}

.mall-view .details .title > span{
	
}

.mall-view .details .table-wrapper{	
		
}

.mall-view .details .table-wrapper td{
	padding:8px;
	border-bottom:1px solid #dbdbdb;
}

.mall-view .details .table-wrapper .price .value{
	font-weight:bold;
	font-size:1.2em;
	color:#ae0000;
}

.mall-view .details .table-wrapper .contact .value{
	display:block;
	padding:5px 0;
	border-radius:2px;
	background-color:#199f38;
	font-weight:bold;
	font-size:1.1em;
	color:#ffffff;	
	text-align:center;
	line-height:120%;
	word-break: break-all;
}

.mall-view .details .table-wrapper tr:last-child td{	
	border-bottom:0;
}

.mall-view .details .table-wrapper .table-label{
	display: inline-block;
	width: 60px;
	margin-right: 0;
	font-weight: bold;
}
/*eo mall-view*/

/*view-message-send*/
.view-message-send{
	width:70%;
}

.view-message-send .title{
	font-size: 1.3em;
	color: #1886c5;
	font-weight: bold;
}

.view-message-send .message-send {
	margin-top:5px;
}

.view-message-send .message-send fieldset{
	padding:0;
	margin:0;
	border:0;
}

.view-message-send .message-send .row.data-set.content label{
	display:none;
}

.view-message-send .message-send .row.data-set.content textarea{
	height:200px;
	width:100%;	
	padding:10px;
	margin-bottom:4px;
	border:1px solid #afafaf;
	resize:none;
	box-sizing:border-box;
}

.view-message-send .message-send .buttons input[type='submit']{	
	display: inline-block;
	
	padding: 5px 10px 8px 31px;
	/*margin: 3px 5px 0 0;*/
	border: 0;
	border-radius: 2px;
	background-color: #1886c5;
	font-size: 1.3em;
	
	color: #fff;
	box-sizing:border-box;
}

.view-message-send .message-send .buttons .send-button-wrapper{
	position:relative;
}

.view-message-send .message-send .buttons .send-button-wrapper > img{
	position: absolute;
	left: 4px;
	top: 8px;
}
/*eo view-message-send*/

/*mall-advance-search*/
.mall-advance-search{
	margin-bottom:10px;
	color:#444444;
}

.mall-advance-search .filter{
	position:relative;
	padding:5px 20px 5px 5px;
	border:1px solid #dddddd;
}

.mall-advance-search .filter > img{
	position:absolute;
	right:5px;
	top:10px;
}

.mall-advance-search .mall-select-wrapper{
	display:inline-block;
	position:relative;
}

.mall-advance-search .mall-select-wrapper > img{
	position: absolute;
	right: 2px;
	top: 1px;
	height: 6px;
	width: 10px;
	padding: 10px;
	background-color: #ffffff;
	pointer-events: none;
}

.mall-advance-search .label{	
	font-weight:normal;		
}

.mall-advance-search .search-sort-commands .left{
	float:none;
	margin:0;
}

.mall-advance-search .search-sort-commands .right{
	float:none;
	margin-bottom:10px;
}
/*eo mall-advance-search*/

/*mall-pagination*/
.mall-pagination{
	padding:5px 9px;
	font-size:.8em;
	text-align:center;
}

.mall-pagination a{
	display:inline-block;
	padding:7px 10px;
	margin:0 10px 5px 0;
	border: 1px solid #dddddd;
	border-radius: 2px;
	font-size:1.2em;
	line-height:100%;	
}

.mall-pagination a.selected{
	background-color: #7997ab;
	color: #ffffff;
}

.mall-pagination a:hover{	
	border:1px solid #67a4ce;
}

.mall-pagination a:last-child{
	margin-right:0;
}
/*eo mall-pagination*/

/*override*/

/*eo override*/



@media all and ( min-width:480px ) { 
	.filter.list.grid4 .content  > div.a .filter-items, .filter.list.grid4 .content  > div.c .filter-items{
		border-right:1px dotted #7e8c8c;
	}
}

@media all and ( min-width: 500px ) { 
	/*view*/
	.mall-view .details{
		width:49.5%;
		float:left;
	}
		
	.mall-view .details.product{	
		margin-right:.5%;
	}
	
	.mall-view .details.seller{	
		margin-left:.5%;
	}
	/*eo view*/
}

@media all and ( min-width: 560px ) {
	.mall-advance-search{
		width:auto;
		padding:0;
	}
	
	.mall-advance-search select{
		margin-bottom:0;
	}
	
	.mall-advance-search .mall-select-wrapper .label{
		margin-bottom:0;
	}
	
	.mall-advance-search .search-sort-commands .left{
		float:left;
		margin:0 5px 0 0;
	}
	
	.mall-advance-search .search-sort-commands .right{
		float:right;
		margin-bottom:0;
	}
}


@media all and ( min-width: 800px ) {
	
	/*view*/
	.mall-view .image-list{	
		float:left;
		width:70%;
		margin-bottom:0;
	}
	
	.mall-view .top-image{
		height:370px;
		padding:5px;
		margin-right:10px;		
	}
	
	.mall-view .details-wrapper{
		float:right;
		width:30%;
		margin-bottom:0;
	}
	
	.mall-view .details{
		width:100%;
	}
		
	.mall-view .details.product{	
		margin-right:0;
	}
	
	.mall-view .details.seller{	
		margin-left:0;
	}
	/*eo view*/
	
	.filter.list.grid4 .content  > div .filter-items{
		border-right:1px dotted #7e8c8c;
	}
}
@media all and ( min-width: 960px ) {

}