.mall-admin-page{
    /*padding:10px;*/
    background-color:#ffffff;
}

.mall-admin-page .title{
	padding: 10px;
	margin-bottom:10px;
	background-color: #003366;
	color: #ffffff;	
	font-size: 1.5em;
	text-align: center;	
}

.mall-admin-page .content-wrapper{
	padding:0 10px 10px 10px;
}

.mall-admin-page .content-wrapper.delete-category-list .notice{	
	padding:5px 10px;
	font-size:1.3em;
	font-weight:bold;
}

.mall-admin-page .content-wrapper.delete-category-list ol{
	
}

.mall-admin-page .content-wrapper.delete-category-list ol li{
	padding:5px 10px;
	margin:0;
}

/*error*/
div.mall-error{	
	padding: 10px;
	margin:0 10px 10px 10px;
	border: 1px solid #cc0000;
	border-radius: 2px;
	background-color: #f2f2f2;
	font-size: 1.2em;
	color: #cc0000;
	text-align:center;
}
/*eo error*/

/*error*/
div.mall-success{	
	padding: 10px;
	margin:0 10px 10px 10px;
	border: 1px solid #009900;
	border-radius: 2px;
	background-color: #f2f2f2;
	font-size: 1.2em;
	color: #009900;
	text-align:center;
}
/*eo error*/

/*top-menu*/
.top-menu{
	padding:0 10px;
	margin-bottom:10px;
	text-align:right;
}

.top-menu > a{
	display: inline-block;
	padding: 10px;
	border: 1px solid #003366;
	border-radius:2px;	
	background-color: #f2f2f2;
	color: #003366;
}

.top-menu > a:hover{
	background-color: #004466;
	color: #ffffff;	
}


.mall-page .top-menu > a{
	border: 1px solid #1886c5;
	color: #1886c5;
}

.mall-page .top-menu > a:hover{
	background-color: #1886c5;
	color: #ffffff;	
}
/*eo top-menu*/

/*form*/
.mall-admin-page form{
    display:inline-block;
}

.mall-admin-page form .row{
    display:inline-block;
}

.mall-admin-page input[type='text']{
    padding:4px 5px;
    border:1px solid #003366;
    box-sizing:border-box;
}

.mall-admin-page input[type='submit'], .command{
	display: inline-block;
	padding:5px 10px;
	/*border: 1px solid #003366;*/
	border-radius:2px;
	background-color: #003366;	
	/*color: #003366;*/
	color:#ffffff;
	box-sizing:border-box;
	cursor:pointer;
}

.mall-admin-page input[type='submit']{
	border:0;
}

.mall-admin-page input[type='submit']:hover, .mall-admin-page .command:hover{
	color:yellow;
}


.mall-admin-page .form-update{
	margin-right:3px;
}

.mall-admin-page .form-update input[type='text']{
    margin-right:5px;
    width:150px;
}

/*eo form*/
.mall-table{
	margin-top:10px;	
}

.mall-table tr.header{
	font-size:1.2em;
	font-weight:bold;
	background-color:#d5d5d5;
}

.mall-table tr.header td{
	padding:5px 10px;
	color:#444444;
}

.mall-table tr:nth-child( 2n + 3 ){
	background-color:#f2f2f2;
}


/*category unique*/
.mall-table.category tr td:nth-child(2), .mall-table tr td:nth-child(3), .mall-table tr td:nth-child(4){
	text-align:center;	
}

.mall-admin-page .category{	
    padding:10px;
	margin-bottom:0;
	box-sizing:border-box;
	white-space:nowrap;
}

.mall-admin-page .category .button-wrapper{
	display:inline;
}
/*eo category unique*/
.mall-table.member, .mall-table.item{
	text-align:center;
}

.mall-table td > span{
	display:block;
	padding:10px;
}
/*member-list unique*/

/*eo member-list unique*/

.mall-page{	
	background-color:#ffffff;
}

.mall-page .title{
	padding: 10px;
	margin-bottom: 10px;
	background-color: #1886c5;
	color: #ffffff;
	font-size: 1.5em;
	text-align: center;
}

.mall-page .content{	
	padding:0 10px 10px 10px;
}

.mall-page .content.front-page .menu-list{	
	margin-bottom:10px;
}

.mall-page .content.front-page .menu-list .menu > a{	
	display:inline-block;
	padding:5px 10px;
}

.mall-page .form-label{	
	margin-bottom: 3px;
	font-size: 1.2em;
	font-weight: bold;
	color: #4b4b4b;
}

.mall-page .form-description{	
	margin: 0 0 2px 3px;
	color: #818181;
}

/*
.category .command{
	display: inline-block;
	padding:2px 5px;
	border: 1px solid #003366;
	border-radius:2px;
	background-color: #f2f2f2;
	color: #003366;
    box-sizing:border-box;
    cursor:pointer;
}

.category .command:hover{
	background-color: #004466;
    color: #ffffff;	
}
*/

.category .command.cancel{
	margin:0 15px 0 3px;
	/*font-weight:bold;*/
}
/*eo form*/

/*category-name*/
.mall-admin-page .label{
	font-weight:normal
}

.mall-admin-page .label .category-name{	
    margin:5px 5px 3px 0;
	font-weight:bold;
	/*font-size:1.3em;*/
}

.mall-admin-page .label .name.user-profile{
	font-weight:bold;
	color:blue;
}
/*eo category-name*/

/*category-list*/
.category-list{
	
}

.category-list .root-form-wrapper{
    margin-bottom:20px;
}

.category-list .category .label input[type='submit']{
    font-weight:normal;
}

.category-list .category .label .command{
    font-weight:normal;
}




/*mall-search*/
.mall-search input[type='text']{
	width:200px
}

.mall-search-keyword, .mall-search-total{
	padding:10px 10px 0 10px;
	font-size:1.2em;
}
/*eo mall-search*/

/*mall add form*/
.mall-page .mall-item-add{
	padding:10px;
	background-color:#ffffff;	
}

.mall-page .mall-item-add .price-wrapper{
	position:relative;
}

.mall-page .mall-item-add input[type='text'], .mall-page .mall-item-add input[type='number'], .mall-page .mall-item-add select, .mall-page .mall-item-add textarea{	
	width:100%;		
	border:1px solid #6e96d9;
	box-sizing:border-box;
}

.mall-page .mall-item-add select.category{
	float:left;
	width:24%;
	margin:0 1% 5px 0;
}

.mall-page .mall-item-add input[type='text'], .mall-page .mall-item-add input[type='number']{
	padding:5px 10px;
}

.mall-page .mall-item-add .price-wrapper .currency{
	position:absolute;
	left:12px;
	top:6px;
}

.mall-page .mall-item-add .price-wrapper input[type='number']{
	padding-left:20px;
}

.mall-page .mall-item-add textarea{
	height:125px;
	padding:5px 10px;
	resize:none;
	box-sizing:border-box;
}

.mall-page .mall-item-add select{
	padding:5px;	
}

.mall-page .mall-item-add .buttons{
	text-align:right;
}

.mall-page .mall-item-add .buttons .item-add-submit{
	display:inline-block;
	border: 1px solid #1886c5;
	background-color: #f2f2f2;
	padding: 5px 10px;
	margin:0;
	color: #1886c5;
	border-radius: 2px;
}

.mall-page .mall-item-add .buttons .item-add-submit:hover{	
	background-color: #1886c5;
	color: #ffffff;
	cursor:pointer;
}

.mall-page .mall-item-add .title{
	margin-bottom:13px;
}

.mall-page .mall-item-add .file-upload-group{
	margin-bottom:10px;
}

.mall-page .mall-item-add .file-upload-group .upload-label{	
	margin:5px 0;
	font-size:1.2em;
	font-weight:bold;
}

.mall-page .mall-item-add .file-upload-group .upload{
	float: left;
	width: 24%;
	padding: 10px;
	margin:0 .5% 5px .5%;
	border-radius:3px;
	background-color: #f0f8fd;	
	box-sizing: border-box;
	overflow: hidden;
}

.mall-page .mall-item-add .description{
	margin:10px 0 5px 0;
}

.mall-page .mall-item-add .description:first-child{
	margin-top:5px;
}

.mall-page .mall-item-add .note{
	font-size:.8em;	
	margin-left:5px;
}

.mall-page .mall-item-add .addForm-file-upload{
	height: 135px;
	width: 100%;	
	border: 1px dashed #b6cff8;
	background: url('/modules/mall/img/photo.png');
	background-repeat: no-repeat;
	background-position: 50% 45%;
	overflow: hidden;
	box-sizing: border-box;
}

.mall-page .mall-item-add .addForm-file-upload input[type='file']{
	height: 135px;
	width: 100%;
	opacity: 0;
	cursor: pointer;
	box-sizing: border-box;
}

.mall-page .mall-item-add .upload .display-uploaded-files .photo{	
	float:left;
	position: relative;
	width:100%;	
	margin:0;
	border: 1px solid #d5d5d5;
	box-sizing: border-box;
}

.mall-page .mall-item-add .upload .display-uploaded-files .photo img{	
	display: block;
	width: 97%;
	margin: 2px auto;
}

.mall-page .mall-item-add .upload .display-uploaded-files .photo .delete{	
	position: absolute;
	right: 5px;
	top: 5px;
	padding: 2px 6px;
	border-radius: 3px;
	background-color: black;
	color: white;
	cursor: pointer;
}

.mall-page .mall-item-add .upload .display-uploaded-files .photo .delete:hover{	
	background-color:red;
}
/*eo mall add form*/


/*mall-view*/
.mall-view{	
		
}

.mall-view .title.top{			
	padding: 5px 10px;
	margin-bottom: 5px;
	border-radius: 2px;
	font-size: 1.5em;		
	color: #606060;
	background-color: #d8d8d8;
	text-align: center;
}

.mall-view .image-list{		
	position:relative;
	padding:10px;
	margin-bottom:10px;
	border-radius:2px;	
	background-color:#ffffff;
}	

.mall-view .top-image{		
	padding:0 5px;
	margin-bottom: 5px;
	height:370px;
	width:100%;
	border:1px solid #dcdcdc;		
	overflow:hidden;
	box-sizing:border-box;
}

.mall-view .top-image img{	
	display:none;
	margin:auto;		
}

.mall-view .top-image img.is-active{	
	display:block;
}

.mall-view .thumbnails{
	position:relative;
}

.mall-view .thumbnails .arrow{
	position: absolute;
	bottom: 0;
	height: 100%;
	width: 7.5%;
	box-sizing: border-box;		
	border: 1px solid #dcdcdc;
	cursor:pointer;
}

.mall-view .thumbnails .arrow.left{
	left:12%;
}

.mall-view .thumbnails .arrow.right{
	right:12%;
}

.mall-view .thumbnails .inner{
	width:60%;
	margin:auto;		
	white-space:nowrap;
	overflow: hidden;
}

.mall-view .thumbnails .inner img{		
	display:inline-block;
	position:relative;
	width:16.66%;
	padding: 5px;
	margin:0 .5% -3px .5%;
	border: 1px solid #dcdcdc;		
	box-sizing: border-box;
	cursor:pointer;
}

.mall-view .thumbnails .inner img.is-active{
	border-color:#64b0ff;
}


.mall-view .product-details{		
	border-radius:2px;
	background-color:#ffffff;
}

.mall-view .product-details .title{
	padding:5px 10px;
	margin-bottom: 10px;
	border-bottom:1px solid #dcdcdc;
	font-size:1.1em;
	font-weight:bold;
}

.mall-view .product-details .table-wrapper{
	padding:0 10px;
	margin-bottom:10px;
}

.mall-view .product-details .table-wrapper tr:nth-child(even){
	background-color:#f2f2f2;
}

.mall-view .product-details .table-wrapper td{
	padding:5px
}

.mall-view .product-details .table-wrapper .table-label{	
	font-size:1.1em;
	font-weight:bold;
}

.mall-view .product-details .content-text{
	padding:0 10px 10px 10px;
}
/*eo mall-view*/

/*mall-advance-search*/
.mall .mall-advance-search{
	margin-bottom:10px;
	color:#444444;
}

.mall .mall-advance-search .mall-select-wrapper{
	display:inline-block;
	position:relative;
}

.mall .mall-advance-search .mall-select-wrapper > img{
	position:absolute;
	right:5px;
	top:11px;
	height:6px;
	width:10px;
}

.mall .mall-advance-search .label{	
	font-weight:normal;		
}

.mall .mall-advance-search select{
	padding:5px 3px;
	border:1px solid #dddddd;
	border-radius:2px;
}
/*eo mall-advance-search*/


/*override*/

/*eo override*/