.mall-admin-page{
	padding:10px;
	background-color:#ffffff;
}

.mall-admin-page .title{
	font-size:1.5em;
	font-weight:bold;
}

.mall-admin-page form{
	display:inline-block;
}

.mall-admin-page form .row{
	display:inline-block;
}

.mall-admin-page input[type='text']{
	padding:2px 5px;
	border:1px solid #000000;	
	box-sizing:border-box;
}

.mall-admin-page input[type='submit']{
	padding:2px 5px;
	border:1px solid #000000;
	background-color:transparent;
	box-sizing:border-box;
}

.mall-admin-page input[type='submit']:hover{
	background-color:orange;
	color:#ffffff;
}

.mall-admin-page .form-update input[type='text']{
	margin-right:5px;
	width:100px;
}


.admin-category .list .category{
	padding:5px 0;
}

.category .edit{
	padding:2px 5px;
	border:1px solid #000000;	
	box-sizing:border-box;
	cursor:pointer;
}

.category .edit:hover{
	background-color:orange;
	color:#ffffff;
}


/*category-list*/
.category-list .root-form-wrapper{
	margin-bottom:20px;
}

.category-list .category{
	padding:5px 0;
	margin-bottom:10px;
}

.category-list .category .label{
	margin-right:10px;
}