.mall-admin-page{
    /*padding:10px;*/
    background-color:#ffffff;
}

.mall-admin-page .title{
	padding: 10px;
	margin-bottom:10px;
	background-color: #003366;
	color: #ffffff;	
	font-size: 1.5em;
	text-align: center;	
}

.mall-admin-page .content-wrapper{
	padding:0 10px 10px 10px;
}

.mall-admin-page .content-wrapper.delete-category-list .notice{	
	padding:5px 10px;
	font-size:1.3em;
	font-weight:bold;
}

.mall-admin-page .content-wrapper.delete-category-list ol{
	
}

.mall-admin-page .content-wrapper.delete-category-list ol li{
	padding:5px 10px;
	margin:0;
}

/*error*/
div.mall-error{	
	padding: 10px;
	margin:0 10px 10px 10px;
	border: 1px solid #cc0000;
	border-radius: 2px;
	background-color: #f2f2f2;
	font-size: 1.2em;
	color: #cc0000;
	text-align:center;
}
/*eo error*/

/*error*/
div.mall-success{	
	padding: 10px;
	margin:0 10px 10px 10px;
	border: 1px solid #009900;
	border-radius: 2px;
	background-color: #f2f2f2;
	font-size: 1.2em;
	color: #009900;
	text-align:center;
}
/*eo error*/

/*top-menu*/
.top-menu{
	padding:0 10px;
	margin-bottom:10px;
	text-align:right;
}

.top-menu > a{
	display: inline-block;
	padding: 10px;
	border: 1px solid #003366;
	border-radius:2px;	
	background-color: #f2f2f2;
	color: #003366;
}

.top-menu > a:hover{
	background-color: #004466;
	color: #ffffff;	
}
/*eo top-menu*/

/*form*/
.mall-admin-page form{
    display:inline-block;
}

.mall-admin-page form .row{
    display:inline-block;
}

.mall-admin-page input[type='text']{
    padding:4px 5px;
    border:1px solid #003366;
    box-sizing:border-box;
}

.mall-admin-page input[type='submit'], .command{
	display: inline-block;
	padding:5px 10px;
	/*border: 1px solid #003366;*/
	border-radius:2px;
	background-color: #003366;	
	/*color: #003366;*/
	color:#ffffff;
	box-sizing:border-box;
	cursor:pointer;
}

.mall-admin-page input[type='submit']{
	border:0;
}

.mall-admin-page input[type='submit']:hover, .mall-admin-page .command:hover{
	color:yellow;
}


.mall-admin-page .form-update{
	margin-right:3px;
}

.mall-admin-page .form-update input[type='text']{
    margin-right:5px;
    width:150px;
}

/*eo form*/
.mall-table{
	margin-top:10px;	
}

.mall-table tr.header{
	font-size:1.2em;
	font-weight:bold;
	background-color:#d5d5d5;
}

.mall-table tr.header td{
	padding:5px 10px;
	color:#444444;
}

.mall-table tr:nth-child( 2n + 3 ){
	background-color:#f2f2f2;
}


/*category unique*/
.mall-table.category tr td:nth-child(2), .mall-table tr td:nth-child(3), .mall-table tr td:nth-child(4){
	text-align:center;	
}

.mall-admin-page .category{	
    padding:10px;
	margin-bottom:0;
	box-sizing:border-box;
	white-space:nowrap;
}

.mall-admin-page .category .button-wrapper{
	display:inline;
}
/*eo category unique*/
.mall-table.member{
	text-align:center;
}

.mall-table.member td > span{
	display:block;
	padding:10px;
}
/*member-list unique*/

/*eo member-list unique*/

.mall-page{	
	background-color:#ffffff;
}

.mall-page .title{
	padding: 10px;
	margin-bottom: 10px;
	background-color: #003366;
	color: #ffffff;
	font-size: 1.5em;
	text-align: center;
}

.mall-page .content{	
	padding:0 10px 10px 10px;
}

.mall-page .form-label{	
	margin-bottom: 3px;
	font-size: 1.2em;
	font-weight: bold;
	color: #4b4b4b;
}

.mall-page .form-description{	
	margin: 0 0 2px 3px;
	color: #818181;
}

/*
.category .command{
	display: inline-block;
	padding:2px 5px;
	border: 1px solid #003366;
	border-radius:2px;
	background-color: #f2f2f2;
	color: #003366;
    box-sizing:border-box;
    cursor:pointer;
}

.category .command:hover{
	background-color: #004466;
    color: #ffffff;	
}
*/

.category .command.cancel{
	margin:0 15px 0 3px;
	/*font-weight:bold;*/
}
/*eo form*/

/*category-name*/
.mall-admin-page .label{
	font-weight:normal
}

.mall-admin-page .label .category-name{	
    margin:5px 5px 3px 0;
	font-weight:bold;
	/*font-size:1.3em;*/
}

.mall-admin-page .label .name.user-profile{
	font-weight:bold;
	color:blue;
}
/*eo category-name*/

/*category-list*/
.category-list{
	
}

.category-list .root-form-wrapper{
    margin-bottom:20px;
}

.category-list .category .label input[type='submit']{
    font-weight:normal;
}

.category-list .category .label .command{
    font-weight:normal;
}




/*mall-search*/
.mall-search input[type='text']{
	width:200px
}

.mall-search-keyword, .mall-search-total{
	padding:10px 10px 0 10px;
	font-size:1.2em;
}
/*eo mall-search*/