.mall-item-list .a,
.mall-item-list .b,
.mall-item-list .c,
.mall-item-list .d
{
    box-sizing: border-box;
}

/** margins of each row */
.mall-item-list .item {
    margin-bottom: .8em;
}

.grid4.mall-item-list >.content {
    padding:0;
}


.mall-item-list img {
	display:block;
    width:100%;
}

@media all and ( min-width: 480px ) {
    .grid4 .a { padding-right:5px;}
    .grid4 .b { padding-left:5px;}
    .grid4 .c { padding-right:5px;}
    .grid4 .d { padding-left:5px;}
}


@media all and ( min-width: 800px ) {
    .grid4 .a { padding:0 7.5px 0 0;}
    .grid4 .b { padding:0 5px 0 2.5px ;}
    .grid4 .c { padding:0 2.5px 0 5px;}
    .grid4 .d { padding:0 0 0 7.5px;}
}

.mall-item-list .row > div > a > div {
    border:1px solid #e6e6e6;
    /*padding:1em;*/
}

.mall-item-list .row .item .info{
	padding:10px;
	background-color:#edf0f5;
	/*font-weight: bold;*/
	text-align:right;
}

.mall-item-list .row .item .info .title{
	height: 19px;
	margin-bottom:10px;
	font-size: 1.1em;
	/*font-weight:bold;*/
	color: #393939;
	line-height: 120%;
	overflow: hidden;
	word-break:break-all;
}

.mall-item-list .row .item .info .price{
	height:24px;
	font-size: 1.3em;
	color: #e32222;
	overflow:hidden;
	line-height:150%;
}

/*temp?*/
.mall-item-list .item .wrapper{
	background-color:#edf0f5;
}

.mall-item-list .item .wrapper > div{
	float:left;
	width:50%;
	box-sizing:border-box;
}

.mall-item-list .item .wrapper > div .content{
	height: 112px;
	padding-bottom: 3px;
	margin-bottom:14px;
	overflow: hidden;
	word-break: normal;
}

@media all and ( min-width: 480px ) {
    .mall-item-list .item .wrapper{
		background-color:transparent;
	}

	.mall-item-list .item .wrapper > div{
		float:none;
		width:100%;		
	}
	
	.mall-item-list .row .item .info .title{
		font-weight:normal;
		margin-bottom:0;
	}
	
	.mall-item-list .item .wrapper > div .content{
		display:none;
	}
}
/*eo temp*/