{% if error %}
    <div class="error">    	
		{% for code,message in error_list %}
		<div class="row">
			<div class="code">ERROR CODE : {{ code }}</div>
			<div class="message">{{ message }}</div>
		</div>
		{% endfor%}        
    </div>
{% endif %}


{% if input.error %}
    <div class="mall-error {{ input.error }}">
        {{ input.message }}
    </div>
{% endif %}
