{% if error_list %}
    <div class="error">    	
		{% for code,message in error_list %}
		<div class="row">
			<div class="code">ERROR CODE : {{ code }}</div>
			<div class="message">{{ message }}</div>
		</div>
		{% endfor%}        
    </div>
{% endif %}

{% if notice_list %}
    <div class="notice">    	
		{% for code,message in notice_list %}
		<div class="row">
			<div class="code">SUCCESS CODE : {{ code }}</div>
			<div class="message">{{ message }}</div>
		</div>
		{% endfor%}        
    </div>
{% endif %}