<div class='mall-page'>
	<div class='title'>This is first page</div>
	{% include 'modules/mall/templates/error.html.twig' %}
	{% include 'modules/mall/templates/mall.admin.commands.html.twig' %}
	<section class='content front-page'>
	<div class='menu-list'>
		<div class='menu'>
			<a href="/mall/member/register">Register as a member</a>
		</div>
		<div class='menu'>
			<a href="/mall/item/add">Add Item</a>
		</div>
		<div class='menu'>
			<a href="/mall/item/search">List all item</a>
		</div>
	</div>
        * DO NOT DO payment and order system. We will do it later.<br>
        * We do only IFRAME API.

		Lists of updated items.

	</section>
</div>


