<div class='mall-admin-page'>
	<div class='title'>Welcome to Mall Admin Page</div>
	<div class='top-menu'>
		<a href="/mall/admin/category">Category</a>
		<a href="#">Items</a>
		<a href="#">Orders</a>
	</div>
	<div class='content-wrapper'>
		<b>Note:</b>
		<ol>
			<li>This page is where mall module settings are.</li>				
		</ol>
	</div>
</div>