<h1>This is first page...</h1>

<a href="/mall/member/register">Register as a member</a>
<br>
<a href="/mall/manager/register">Register as a manager</a><br>
<a href="/mall/manager/register">Add Item</a><br>
<hr>
Lists of updated items.<br>


