<h1>This is first page...</h1>

<hr>
Admin :
    <a href="/mall/admin/member/list">Member List</a>
<a href="/mall/admin/item/list">Item List</a>
<a href="/mall/admin/category">Item List</a>

<hr>
<a href="/mall/member/register">Register as a member</a>
<br>
<a href="/mall/manager/register">Register as a manager</a><br>
<a href="/mall/manager/register">Add Item</a><br>
<hr>

Lists of updated items.<br>


