<div class='mall-page'>
	<div class='filter-button left'>
		Filter
		<img src='/modules/mall/img/select_arrow.png'/>
	</div>

	{% include 'modules/mall/templates/mall.advance.search.form.html.twig' %}
	{% include 'modules/mall/templates/error.html.twig' %}
	{% include 'modules/mall/templates/mall.search.filter.guide.html.twig' %}
	{% include 'modules/mall/templates/mall.search.filter.list.html.twig' %}

	{% set total_items = data.total_items %}
	{% if total_items <= 0 %}
		<h1>No item found</h1>
	{% else %}
		{% set items_per_page = input.limit %}
		{% if items_per_page is empty %}
			{% set items_per_page = 15 %}
		{% endif %}
		<div class='total-item-count'>Found a total of {{ total_items }} item/s</div>
		{% include '/modules/mall/templates/mall.item.list.html.twig' %}


		{% include '/modules/mall/templates/mall.item.pagination.html.twig' %}
	{% endif %}
</div>