<div class='top-menu'>
	<a href="/mall">Mall</a>
    <a href="/mall/item/add">Add item</a>
    {% if is_admin %}
	<a href="/mall/admin">Admin</a>
        <a href="/mall/admin/member/list">Member List</a>
        <a href="/library/category/admin">Category</a>
        <a href="/mall/admin/item/list">Items</a>
    {% else %}
		
    {% endif %}
	{% if logged_in %}
		{% if input.item_id %}
			<a href="/mall/item/view?item_id={{ input.item_id }}">View this item</a>
		{% endif %}
		<a href="/mall/item/search?user_id={{ data.member.uid.value }}">My items</a>			
	{% else %}
		<a href="/member/reguster">Register now!</a>
	{% endif %}
	<!--<a href="#">Orders</a>-->
</div>