<div class='mall-page'>
	<div class='title'>
		Sell your item now
	</div>
	<section class="content mall-item-add">
		<div class='upload'>
			<form class="addForm-file-upload"
				  enctype="multipart/form-data"
				  action="/more/api?call=fileUpload"
				  method="POST">
				<fieldset>
					<!--temp commented due to css conflict <legend></legend>-->
					<div class="row">
						<span class="value">
							<span class="element">
								<input type="hidden" name="call" value="fileUpload">
								<input type="hidden" name="tid" value="{{ data.tid }}">
								<input type="hidden" name="type" value="node">
								<input type="hidden" name="image_style" value="medium">
								<input type='file' name='files[]' multiple onchange="jQuery(this).parent().submit();">
							</span>
						</span>
					</div>
				</fieldset>
			</form>
			<div class='display-uploaded-files clearfix'>
				
			</div>
		</div>
		
		<form method='post'>
			<input type='hidden' name='call' value='write_submit'>
			<input type="hidden" name="tid" value="{{ data.tid }}">
			<input type="hidden" name="type" value="node">
			<input type='hidden' name='fids' value=''>
			<div class='description'>What are you selling?</div>
			<input type='text' name='title' placeholder='Ad Title'>
			<div class='description'>What do you want to do with your item?</div>
			<select name='type'>
				<option value=''>Ad Type</option>
				<option value='buy'>Buying</option>
				<option value='sell'>Selling</option>
				<option value='rent'>For Rent</option>
			</select>
			<div class='description'>In what category does your item fall?</div>
			<input type='text' name='category' placeholder='Ad Category'><br>
			<div class='description'>Brand</div>
			<input type='text' name='brand'>
			<div class='note'>Ex) Samsung</div>
			<div class='description'>Model</div>
			<input type='text' name='model'>
			<div class='note'>Ex) Galaxy S5</div>
			<div class='description'>Price</div>
			<input type='text' name='price'>
			<div class='note'>Item price must be within a realistic value range</div>
			<div class='description'>Phone Number</div>
			<input type='text' name='phone'>
			<div class='note'>Indicate the number where your buyer will contact you. Format: 09xxxxxxxxx (e.g. 09158787666)</div>
			<div class='description'>What is the condition of your item?</div>
			<select name='condition'>
				<option value=''>Ad Condition</option>
				<option value='used'>2nd Hand</option>
				<option value='new'>Selling</option>			
			</select>
			<div class='description'>Description</div>
			<textarea name='content'></textarea><br>
			<input type='submit'>
		</form>
	</section>
</div>