{% set page_note = "<div class=title>Search for " ~ data.search_note ~ "</div><div class='search-total'>Found a total of [ " ~ data.total_items ~ " ] item/s</div>" %}

{% include 'themes/x8/templates/mall/mall.item.list.html.twig' %}