<div class='mall-page'>
	<div class='filter-button left'>
		Filter
		<img src='/modules/mall/img/select_arrow.png'/>
	</div>

	{% include 'modules/mall/templates/mall.advance.search.form.html.twig' %}
	{% include 'modules/mall/templates/error.html.twig' %}
	{% include 'modules/mall/templates/mall.search.filter.guide.html.twig' %}
	{% include 'modules/mall/templates/mall.filter.list.html.twig' %}

	{% set total_items = data.total_items %}
	{% set items_per_page = input.limit %}
	<div class='total-item-count'>Found a total of {{ total_items }} item/s</div>
	{% include '/modules/mall/templates/mall.item.list.html.twig' %}


	{% include '/modules/mall/templates/mall.item.pagination.html.twig' %}
</div>