<div class='top-menu'>
    <a href="/mall/item/add">Post an item</a>

    {% if is_admin %}
	<a href="/mall/admin">Admin</a>        
        <a href="/library/category/admin">Category</a>
        <a href="/mall/admin/member/list">Member List</a>
        <a href="/mall/admin/item/list">Item List</a>
    {% else %}
		
    {% endif %}

	{% if logged_in %}
		{% if input.item_id %}
			<a href="/mall/item/view?item_id={{ input.item_id }}">{{ ko ? '현재 상품 보기' : 'View this item' }}</a>
		{% endif %}
		<a href="/mall/item/search?user_id={{ data.member.uid.value }}">{{ ko ? '나의 물품 목록' : 'My item List' }}</a>
	{% else %}
		<a href="/user/login">Sign in</a>
		<a href="/member/register">Register</a>
	{% endif %}

	<!--<a href="#">Orders</a>-->
</div>