<div class='mall-page'>
	<div class='title'>This is first page</div>
	{% include 'modules/mall/templates/mall.admin.commands.html.twig' %}
	<section class='content'>
		<hr>
		<a href="/mall/member/register">Register as a member</a>
		<br>
        <a href="/mall/add">Add Item</a><br>
        <a href="/mall/list">List all item</a><br>
        <a href="/mall/car">List car item</a><br>
        <a href="/mall/computer">List computer item</a><br>
        <a href="/mall/phone">List Phone item</a><br>
        <a href="/mall/clothes">List Clothes item</a><br>
		<hr>
        * DO NOT DO payment and order system. We will do it later.<br>
        * We do only IFRAME API.
        <hr>

		Lists of updated items.

	</section>
</div>


