<div class='mall-page'>
	<div class='title'>This is first page</div>
	{% include 'modules/mall/templates/mall.admin.commands.html.twig' %}
	<section class='content'>
		<hr>
		<a href="/mall/member/register">Register as a member</a>
		<br>
		<a href="/mall/manager/register">Register as a manager</a><br>
		<a href="/mall/manager/register">Add Item</a><br>
		<hr>

		Lists of updated items.
	</section>
</div>


